exportClasses(
   TReNA,
   VarianceFilter,
   FootprintFilter,
   HumanDHSFilter,
   GeneOntologyFilter,
   RandomForestSolver)

export(
    TReNA,
    Solver,
    BayesSpikeSolver,
    EnsembleSolver,
    LassoPVSolver,
    LassoSolver,
    PearsonSolver,
    RandomForestSolver,
    RidgeSolver,
    SpearmanSolver,
    SqrtLassoSolver,
    CandidateFilter,
    FootprintFilter,
    HumanDHSFilter,
    VarianceFilter,
    GeneOntologyFilter,
    FootprintFinder,
    run
    )

exportMethods(
    closeDatabaseConnections,
    getCandidates,
    getAssayData,
    getChromLoc,
    getFootprintsForGene,
    getFootprintsInRegion,
    getGenePromoterRegion,
    getGtfGeneBioTypes,
    getGtfMoleculeTypes,
    getPromoterRegionsAllGenes,
    getSolverName,
    mapMotifsToTFsMergeIntoTable,
    rescalePredictorWeights,
    solve,
    getSequence,
    getEncodeRegulatoryTableNames,
    getRegulatoryRegions
)

import(
    DBI,
    doParallel,
    flare,
    foreach,
    glmnet,
    lassopv,
    methods,
    randomForest,
    vbsr,
    GenomicRanges,
    BSgenome.Hsapiens.UCSC.hg38,
    BSgenome.Hsapiens.UCSC.hg19
)

importFrom(RSQLite, SQLite)
importFrom(RPostgreSQL, PostgreSQL)
importFrom(RMySQL, MySQL)
importFrom(utils, head)
importFrom(stringr, str_match)
